h1{
    text-align: center;
    padding: 10px;
    border-radius:7px ;
    font-family: cursive;
    margin-top: 10px;
    color:black;
    font-size: 50px;
}
h3{
    text-align: left;
    color: white;
    background-color: orangered;
    padding: 20px;
    border-radius: 10px;
    margin-left: 150px;
    margin-right: 150px;
    
}